<!-- prod: -->
VITE_API_URL=https://berendswennenhuis.nl/nonogram/api/
VITE_SOCKET_BASE_URL=https://berendswennenhuis.nl
VITE_SOCKET_PATH=/nonogram/socket


<!-- local: -->
VITE_API_URL=http://localhost:7200/
VITE_SOCKET_BASE_URL=http://localhost:7100/
VITE_SOCKET_PATH=