html,
body {
  min-height: 100vh;
  // width: 100%;
}

body {
  display: flex;
  // justify-content: center;
  // align-items: center;
  // padding: 8px;
  margin: 0;

  // font-weight: 600;
}

* {
  box-sizing: border-box;
}

// a {
//   text-decoration: none;
// }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  // font-family: Rajdhani, Helvetica, Arial, sans-serif;
  // font-family: 'Poppins', Helvetica, Arial, sans-serif;
  // font-family: 'bebas neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: auto;
  // flex: 1 0 100%;
}

label {
  display: flex;
  flex-direction: column;
}


input {
  background: none;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.btn {
  $btn-primary-bg: darkorange;
  $btn-secondary-bg: gray;

  border: none;
  text-decoration: none;
  background: $btn-primary-bg;
  color: white;
  padding: 10px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover:not(.disabled) {
    background: darken($btn-primary-bg, 10%);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.outline {
    text-align: center;
    text-decoration: none;
    color: #2c3e50;
    border: 1.5px solid #c0c8cc;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;

    &:hover {
      background-color: #ebf1f4;
    }
  }

  &.btn-link {
    color: black;
    background: none;

    &:hover:not(.disabled) {
      background: none;
    }
  }

  &.secondary {
    background: $btn-secondary-bg;

    &:hover:not(.disabled) {
      background: darken($btn-secondary-bg, 10%);
    }
  }
}

.input-with-button {
  display: flex;

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 2;
  }
}
